.welcome-page {
  background-color: rgba(255, 254, 254, 0.635);
  width: 100%;
  height: auto;
  margin-top: -16px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 33vh;
  margin: 0;
  width: 100%;
  background-color: #3778C2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border-bottom-right-radius: 100%;
}

.logo_text {
  color: lightgreen;
  margin-bottom: -10px;
}

.text-welcome {
  color: white;
}

.info-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px 0;
  height: auto;
  text-align: center;
}

.sign-link {
  width: 40%;
  background-color: #3778C2;;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  color: #434343;
  align-self: center;
  text-decoration: none;
  border: solid #434343 2.5px;
}

.category-link {
  width: 40%;
  background-color: #3778C2;;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  color: #434343;
  align-self: center;
  text-decoration: none;
  border: solid #434343 2.5px;
}

.category-link:hover {
  color: white;
  border-color: #5fb523;
}

.log-out {
  position: absolute;
  bottom: 2;
  right: 0;
  margin-right: 20px;
  width: 90px;
  background-color: #3778C2;;
  padding: 10px;
  border-radius: 20px;
  color: #434343;
  align-self: center;
  text-decoration: none;
  margin-top: 10px;
}

.log-out:hover {
  color: white;
  border-color: #5fb523;
}